.ForgotName{
    color: #000000;
    text-align: left;
    font-family: 'Clarendon';
    font-size: 2rem;
  }
  .Dpa {
    color: #000000;
    text-align: left;
    font: 20px "Inter", sans-serif;
  }
  .singup:hover{
    text-decoration: underline;
    color: #48904f;
  }
  
  .singup{
    color: #48904f;
    font-weight: bold;
    text-decoration: none;
  }
  .btnpo{
    background: #cbcbcb !important;
    font-family: 'Open Sans',sans-serif !important;
  
  }
  .btnpo:hover{
    background: #a4a4a4 !important;
  
  }