a{
    text-decoration: none;
    color: #48904F;
    font-weight: bold;
}
a:hover{
    color: #48904F;
    text-decoration:underline;
}
.btnLogin{
    background: #CBCBCB;
}
.btnLogin:hover{
    background:#a4a4a4 ;
}
form i {
    cursor: pointer;
}