.ForgotName{
    color: #000000;
    text-align: left;
    font-family: 'Clarendon';
    font-size: 2rem;
  }

  .singup:hover{
    text-decoration: underline;
    color: #48904f;
  }
  
  .singup{
    color: #48904f;
    font-weight: bold;
    text-decoration: none;
  }
  .btnpo{
    background: #cbcbcb !important;
    font-family: 'Open Sans',sans-serif !important;
  
  }
  .btnpo:hover{
    background: #a4a4a4 !important;
  
  }
  #message {
    display:none;
    background:#e2e2e2;
    color: #000;
    border-radius: 8px;
   
  }
  
  #message p {
    font-size: 15px;
  }
  #Confirm {
    display:none;
    background:#e2e2e2;
    color: #000;
    border-radius: 8px;
   
  }
  
  #Confirm p {
    font-size: 15px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    
    content: "✖";
  }